*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  background-image: url(./assets/sohaib.jpeg);
  background-position: right;
  background-repeat: no-repeat;
  background-color: rgb(138, 136, 161);
}

.main {
  background-image: url(./assets/sohaib.jpeg);
  background-position: right;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 25px;
}

.nav-bar{
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-bar a {
  text-decoration: none;
  color: rgb(180, 180, 184);
  transition: 1ms ease;
}

.nav-bar a:hover {
  color: rgb(209, 209, 209);
}

.name-title {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.name{
  color: rgb(255, 255, 255);
  font-size: 5rem;
  margin-bottom: 30px;
}

span{
  color: green;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  margin-right: 240px;
}

